<body>
  <div class="division">
    <div class="div1">
      <div class="productlist">
        <a routerLink="/gymequipment">Gym Equipment</a><br>
        <a routerLink="/treadmill">Exercise Treadmill</a><br>
        <a routerLink="/armexrecise">Arm Exercise Machine</a><br>
        <a routerLink="/shoulder">Shoulder Exercise Machines</a><br>
      </div>
    </div>

    <div class="div2">
      <div class="text">
        <h2>Welcome ,</h2>
        <br><br>
        <p>The product lists given in the top will direct you to view the items based on the category you choose.</p>
        <br><br>
        <h4>Happy Shopping....!</h4>
      </div>
      <img src="/assets/img.png">
    </div>
  </div>

</body>

