.div1{
  display: flex;
  justify-content: center;
}
.div2{
  display: flex;
  justify-content:center;
  padding: 150px;
  margin-left:4% ;
}
.div2 img{
  width: 20%;
}
.productlist{
  display: flex;
  justify-content:space-between;
  width: 57%;
  padding: 20px;
  align-items: center;
}
.productlist a{
  text-decoration: none;
  color: black;
  text-align: center;
  border: 1px solid rgb(229, 227, 227);
  padding: 15px;
  border-radius: 15px;
  font-size: larger;
  font-weight: bolder;
}
.productlist a:hover{
  box-shadow: 2px 2px silver;
  border: 1px solid silver;
}
